<!DOCTYPE html>
<html>
    <head>
        <title>if</title>
    </head>
    <body>
        <script src="https://YanSchw.github.io/tiny-components/tiny-components.js"></script>
        <script src="https://YanSchw.github.io/tiny-components/components/if/if.js"></script>
        <script>
            component('if-test', (node, state) => {
                node.innerHTML = '<innerHTML></innerHTML>';

                createNode('button', node, button => {
                    button.innerHTML = 'Click me to redraw and regenerate!';
                    button.onclick = () => {
                        state.redraw();
                    };
                });
            });
        </script>

        <if-test>
            <if cond="Math.random() > 0.5">
                <p>True</p>
            </if>
            <else>
                <p>False</p>
            </else>
        </if-test>
        
    </body>
</html>